<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiFaceRec.Properties.Settings.picturesConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=pictures;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>